@import '../../style/_theme.scss';


.company-summary-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
//   padding: 20px
}

.overview {
    width: 90%;
}

.overview-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overview-title {
  margin-bottom: 40px;
}

.overview-search {
  margin-top: 1.33em;
  

  input {
    background-color: $color-003;
    color: white;
  }
}

  .overview-financials {
    min-width: 30%;
    margin-right: 40px;
  }
  
  .overview-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .financials {
    width: 90%;
  }
  
  .ratios {
    width: 90%;
  }
  
  