// @import '~@blueprintjs/core/src/common/variables';

// Colours

$color-001: #1a355a; //blue
$color-002: #192039; //dark blue
$color-003: #131b30; //navy
$color-004: #4d505e; //grey
$color-005: #2f3343; //darker grey
