@import '~@blueprintjs/core/src/common/variables';


// Colours

$color-001: #1A355A; //blue
$color-002: #192039; //dark blue
$color-003: #131B30; //navy
$color-004: #4D505E; //grey
$color-005: #2F3343; //darker grey